.card-hover {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-10px);
}

.navbar-brand i {
    margin-right: 10px;
}

body {

    background: linear-gradient(rgba(0, 0, 0, 0.525), rgba(255, 255, 255, 0.541)),
        url('../img/AllRegionsTeyvat.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.card {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    color: #000000;
}   